#car-page {
   width: 80%;
   display: flex;
   flex-direction: column;
   align-items: center;
}

#car-page .model-input {
   width: 100%;
   display: flex;
   align-items: center;
   height: 40px;
   border: 1px solid grey;
}

#car-page .model-input .input-box {
   height: 100%;
   border-right: 1px solid grey;
   width: 10%;
}
#car-page .model-input .input-box input {
   height: 100%;
   width: 100%;
   border: none;
   padding: 10px;
}

#model-page .model-input .submit-btn {
   width: 10%;
   height: 100%;
}

#car-page .css-1u9des2-indicatorSeparator {
   display: none;
}

#car-page .css-13cymwt-control {
   border-radius: 0;
}
#car-page .css-t3ipsp-control {
   border-radius: 0;
}
#car-page .css-13cymwt-control {
   padding-left: 10px;
}
#car-page .css-t3ipsp-control {
   padding-left: 10px;
}
#car-page .css-1nmdiq5-menu > div > div {
   padding-left: 10px;
}
