@import url("https://webfontworld.github.io/pretendard/Pretendard.css");

#admin-page * {
    margin: 0;
    padding: 0;
    font-family: "pretendard";
    box-sizing: border-box;
}

#car-rent-page * {
    margin: 0;
    padding: 0;
    font-family: "pretendard";
    box-sizing: border-box;
}

/* a {
    text-decoration: none;
}

input::placeholder {
    font-family: "pretendard";
}

li,
ol {
    list-style: none;
}

button {
    border: none;
} */

.test-navi {
    margin: 300px;
}

#root .css-1u9des2-indicatorSeparator {
    display: none;
}

#root .css-13cymwt-control {
    border-radius: 0;
}
#root .css-t3ipsp-control {
    border-radius: 0;
}
#root .css-13cymwt-control {
    padding-left: 0px;
}
#root .css-t3ipsp-control {
    padding-left: 0px;
}
#root .css-1nmdiq5-menu > div > div {
    padding-left: 10px;
}
